/*
Theme Name: NativeChurch
Description: Used to style the TinyMCE editor.
*/
/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Headings
 * 3.0 - Text Elements
 * 4.0 - Links
 * 5.0 - Alignment
 * 6.0 - Tables
 * 7.0 - Images
 * 8.0 - RTL
 * ----------------------------------------------------------------------------
 */
/**
 * 1.0 Body
 * ----------------------------------------------------------------------------
 */
html .mceContentBody {
	font-size: 100%;
}
body {
	color: #2b2b2b;
	font-family: Lato, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	vertical-align: baseline;
}
/**
 * 2.0 Headings
 * ----------------------------------------------------------------------------
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	margin: 36px 0 12px;
}
h1 {
	font-size: 26px;
	line-height: 1.3846153846;
}
h2 {
	font-size: 24px;
	line-height: 1;
}
h3 {
	font-size: 22px;
	line-height: 1.0909090909;
}
h4 {
	font-size: 20px;
	line-height: 1.2;
}
h5 {
	font-size: 18px;
	line-height: 1.3333333333;
}
h6 {
	font-size: 16px;
	line-height: 1.5;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}
/**
 * 3.0 Text Elements
 * ----------------------------------------------------------------------------
 */
address {
	font-style: italic;
	margin-bottom: 24px;
}
abbr[title] {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}
b,
strong {
	font-weight: 700;
}
cite {
	border: 0;
}
cite,
dfn,
em,
i {
	font-style: italic;
}
mark,
ins {
	background: #fff9c0;
	border: 0;
	color: inherit;
	text-decoration: none;
}
p {
	margin: 0 0 24px;
}
code,
kbd,
tt,
var,
samp,
pre {
	font-family: monospace, serif;
	font-size: 15px;
	line-height: 1.6;
}
pre {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
blockquote {
	color: #767676;
	font-size: 19px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.2631578947;
	margin: 0 0 24px;
}
blockquote cite,
blockquote small {
	color: #2b2b2b;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}
blockquote strong,
blockquote b {
	font-weight: 400;
}
small {
	font-size: smaller;
}
big {
	font-size: 125%;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
dl {
	margin: 0 0 24px;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 24px;
}
ul,
ol {
	list-style: none;
	margin: 0 0 24px 20px;
	padding-left: 0;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin: 0 0 0 20px;
}
del {
	color: #767676;
}
hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 23px;
}
/**
 * 4.0 Links
 * ----------------------------------------------------------------------------
 */
a {
	color: #24890d;
	text-decoration: none;
}
a:visited {
	color: #24890d;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	color: #41a62a;
	outline: 0;
}
/**
 * 5.0 Alignment
 * ----------------------------------------------------------------------------
 */
.alignleft {
	float: left;
	margin: 7px 24px 7px 0;
}
.alignright {
	float: right;
	margin: 7px 0 7px 24px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 7px auto;
}
blockquote.alignleft,
blockquote.alignright {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 17px;
	width: 50%;
}
blockquote.alignleft p,
blockquote.alignright p {
	margin-bottom: 17px;
}
/**
 * 6.0 Tables
 * ----------------------------------------------------------------------------
 */
.mceItemTable {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0 0 1px;
	border-collapse: separate;
	border-spacing: 0;
	font-size: 14px;
	line-height: 1.2857142857;
	margin-bottom: 24px;
	width: 100%;
}
.mceItemTable th,
.mceItemTable caption {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 0 1px 1px 0;
	font-weight: 700;
	padding: 8px;
	text-align: left;
	text-transform: uppercase;
	vertical-align: baseline;
}
.mceItemTable td {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 0 1px 1px 0;
	font-family: Lato, sans-serif;
	font-size: 14px;
	padding: 8px;
	vertical-align: baseline;
}
/**
 * 7.0 Images
 * ----------------------------------------------------------------------------
 */
img {
	height: auto;
	max-width: 474px;
	vertical-align: middle;
}
.wp-caption {
	background: transparent;
	border: none;
	color: #767676;
	margin: 0 0 24px 0;
	max-width: 474px;
	padding: 0;
	text-align: left;
}
.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}
.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}
.wp-caption.aligncenter {
	margin: 7px 0;
}
.wp-caption-dt {
	margin: 0;
}
.wp-caption .wp-caption-text,
.wp-caption-dd {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;
	margin: 9px 0;
	padding: 0 10px 0 0; /* Avoid the caption to overflow the width of the image because wp-caption has 10px wider width */
	text-align: left;
}
.mceTemp + ul,
.mceTemp + ol {
	list-style-position: inside;
}
/**
 * 8.0 RTL
 * ----------------------------------------------------------------------------
 */
html .mceContentBody.rtl {
	direction: rtl;
	unicode-bidi: embed;
}
.rtl ol,
.rtl ul {
	margin-left: 0;
	margin-right: 24px;
}
.rtl .wp-caption,
.rtl tr th {
	text-align: right;
}
.rtl td {
	text-align: right;
}
